@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin:0px;
  margin:0px;
  box-sizing: border-box;
}

body{
  background-color:#121212;
  font-family: 'Poppins', sans-serif;
}

header{
  margin-top:2.5rem;
  text-align: center;
  color:white;
}

.search-container{
  margin-top:2.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-container .search-field{
  padding:14px;
  border:none;
  background:none;
  outline:none;
  background-color:rgba(255, 255, 255, 0.85);
  border-radius:22px;
  width:60%;
  font-family: 'Poppins', sans-serif;
}

.search-container .search-field:focus{
  background-color:rgba(255, 255, 255, 1);
}

.suggestion-container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position:relative;
  font-size:20px;
}

.suggestion-container .suggestion{
  color:white;
  padding:10px 20px;
  background-color:#1f1c1c42 ;
  width:60%;
  font-size:18px;
  font-family: 'Poppins', sans-serif;
}
.suggestion-container .suggestion:hover{
  background-color: #302929;
}